aside.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ffbe;
    overflow: hidden;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}

aside.logo img {
    width: 140px;
}