.menu {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .menu {
        margin: 0;
    }
}

.menu a {
    display: block;
    color: #fff;
    padding: 7px;
    text-decoration: none;
    background-color: #222;
}

.menu a:hover {
    background: linear-gradient(135deg, #00ffdd 0%, #fff 100%);
    color: #222;
}