aside.menu-area {
    background-color: #00ffbe;
    border-right: 1px solid #555;
}

.menu a {
    display: block;
    color: #000;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    background: linear-gradient(135deg, #ffffff 0%, #00ffdd 100%);
}